{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    {{ product.name }}
{% endblock title %}


{% block content %}
    <div class="detail-product d-flex">
        <div class="detail-img">
            {% for image in product.images.all %}
                <img class="detail-image" src="{{ image.image.url }}" alt="" style="display:none;" data-index="{{ forloop.counter0 }}">
            {% endfor %}
            <div class="image-nav">
                <button class="prev-btn">&lsaquo;</button>
                <button class="next-btn">&rsaquo;</button>
            </div>
        </div>
        <script>
            const images = document.querySelectorAll('.detail-image');
            const prevBtn = document.querySelector('.prev-btn');
            const nextBtn = document.querySelector('.next-btn');
            let currentindex = 0;
        
            images[currentindex].style.display = 'block';
        
            if (images.length === 1) {
                prevBtn.style.display = 'none';
                nextBtn.style.display = 'none';
            } else {
                prevBtn.addEventListener('click', () => {
                    images[currentindex].style.display = 'none';
                    currentindex = (currentindex - 1 + images.length) % images.length;
                    images[currentindex].style.display = 'block';
                });
        
                nextBtn.addEventListener('click', () => {
                    images[currentindex].style.display = 'none';
                    currentindex = (currentindex + 1) % images.length;
                    images[currentindex].style.display = 'block';
                });
        
                let touchStartX = 0;
                let touchEndX = 0;
        
                const handleTouchStart = (event) => {
                    touchStartX = event.touches[0].clientX;
                };
        
                const handleTouchMove = (event) => {
                    touchEndX = event.touches[0].clientX;
                };
        
                const handleTouchEnd = () => {
                    if (touchEndX < touchStartX) {
                        images[currentindex].style.display = 'none';
                        currentindex = (currentindex + 1) % images.length;
                        images[currentindex].style.display = 'block';
                    } else if (touchEndX > touchStartX) {
                        images[currentindex].style.display = 'none';
                        currentindex = (currentindex - 1 + images.length) % images.length;
                        images[currentindex].style.display = 'block';
                    }
                };
        
                const detailImg = document.querySelector('.detail-img');
                detailImg.addEventListener('touchstart', handleTouchStart, false);
                detailImg.addEventListener('touchmove', handleTouchMove, false);
                detailImg.addEventListener('touchend', handleTouchEnd, false);
            }
        </script>

        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Category: {{ product.category }}</h3>
            <p>Description: {{ product.description|linebreaks }}</p>
            {% if product.discount %}
                <div class="cart-discount d-flex gap-2">
                    <p class="line">$ {{ product.price }}</p>
                    <p class="price">$ {{ product.sell_price }}</p>
                </div>
            {% else %}
                <p class="price">$ {{ product.price }}</p>
            {% endif %}
            <form action="{% url "cart:cart_add" product.id %}" class="qform" method="post">
                <div class="cart-form">
                    {{ cart_product_form }}
                    {% csrf_token %}
                </div>
                <input type="submit" class="add-to-cart-btn" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock content %}
